<main class="content-area">
    <h1 class="text-center">Invoices</h1>
    <h2 class="text-center"> Client: {{ currentClient()?.name }} </h2>
</main>

<div style="margin-bottom: 1rem;">
    <p-button icon="pi pi-shopping-cart" label="New Order" severity="info" (click)="openNewOrderDialog()"></p-button>
</div>

<p-tabs [(value)]="activeTab">
    <p-tablist>
        <p-tab value="0">Orders</p-tab>
        <p-tab value="1">Invoices</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="card">
                <p-table [value]="activeOrders()" selectionMode="single" [(selection)]="selectedActiveOrder"
                    (onRowSelect)="onActiveOrderSelect()" [paginator]="true" [rows]="5"
                    [tableStyle]="{ 'min-width': '20rem' }" [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template #header>
                        <tr>
                            <th style="width:25%">Date</th>
                            <th style="width:25%">Payment Date</th>
                            <th style="width:25%">Total Price</th>
                            <th style="width:25%">Status</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-order>
                        <tr [pSelectableRow]="order">
                            <td>{{ order.orderDate | date : 'shortDate' }}</td>
                            <td>{{ order.datePaid | date : 'shortDate' }}</td>
                            <td>{{ order.totalPrice }} €</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabpanel>
        <p-tabpanel value="1">
            <div class="card">
                <p-table [value]="paidOrders()" selectionMode="single" [(selection)]="selectedPaidOrder"
                    (onRowSelect)="onPaidOrderSelect()" [paginator]="true" [rows]="5"
                    [tableStyle]="{ 'min-width': '20rem' }" [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template #header>
                        <tr>
                            <th style="width:25%">Date</th>
                            <th style="width:25%">Payment Date</th>
                            <th style="width:25%">Total Price</th>
                            <th style="width:25%">Status</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-order>
                        <tr [pSelectableRow]="order">
                            <td>{{ order.orderDate | date : 'shortDate' }}</td>
                            <td>{{ order.datePaid | date : 'shortDate' }}</td>
                            <td>{{ order.totalPrice }} €</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<h2> ORDER DETAILS </h2>

<p-table [value]="orderLines()" header="Invoice Details" [style]="{ width: '70rem' }">
    <ng-template #header>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </ng-template>
    <ng-template #body let-orderLine let-rowIndex="rowIndex">

        <tr>
            <td>
                <img [src]="'http://localhost:3001/images/' + orderLine.product.image" [alt]="orderLine.product.name"
                    width="50" height="50" style="object-fit: cover; border-radius: 8px;" />
            </td>
            <td>{{ orderLine.product.name }}</td>
            <td>
                <label for="quantity" class="font-semibold w-24"></label>
                <input pInputText id="quantity" class="flex-auto"
                    [disabled]="rowIndex!=numFila() || isSelectedOrderPaid()" autocomplete="off"
                    [(ngModel)]="orderLine.quantity" />
            </td>
            <td>
                <label for="unityPrice" class="font-semibold w-24"></label>
                <input pInputText id="unityPrice" class="flex-auto"
                    [disabled]="rowIndex!=numFila() || isSelectedOrderPaid()" autocomplete=" off"
                    [(ngModel)]="orderLine.unityPrice" />
            </td>
            <td>
                <p-button icon="pi pi-pen-to-square" severity="secondary" rounded
                    (click)="editSelectedOrderLine(orderLine, rowIndex)" [disabled]="isSelectedOrderPaid()" />
            </td>
            <td>
                <p-button icon="pi pi-times" severity="secondary" rounded (click)="deleteOrderLine(orderLine, rowIndex)"
                    [disabled]="isSelectedOrderPaid()" />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-button icon="pi pi-plus" severity="primary" label="Add Product" [disabled]="isSelectedOrderPaid()" rounded
    (click)="newOrderLine();dialogVisible.set(true)" />
<p-button icon="pi pi-check" severity="success" label="Save changes" rounded (click)="confirmEdit()"
    [disabled]="isSelectedOrderPaid()" />
<p-button icon="pi pi-times" severity="danger" label="Cancel changes" rounded (click)="cancelChanges()"
    [disabled]="isSelectedOrderPaid()" />

<div class="card flex justify-center">
    <p-dialog header="New order line" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '65rem' }">
        <div class="card">
            <p-table #dt2 [value]="allProducts()" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true" [globalFilterFields]="['name']" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #caption>
                    <div class="flex">
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search product by name" />
                        </p-iconfield>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width:22%">Image</th>
                        <th style="width:22%">Name</th>
                        <th style="width:22%">Description</th>
                        <th style="width:22%">Price</th>
                        <th style="width:22%"> </th>
                    </tr>
                </ng-template>
                <ng-template #body let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <img [src]="'http://localhost:3001/images/' + product.image" [alt]="product.name" width="40"
                                height="40" style="object-fit: cover; border-radius: 8px;" />
                        </td>
                        <td>
                            {{ product.name }}

                        </td>
                        <td>
                            {{ product.description }}

                        </td>
                        <td>
                            {{ product.sellPrice }} €

                        </td>
                        <td>
                            <p-button icon="pi pi-plus" severity="secondary" rounded
                                (click)="addProductToOrderLine(product, rowIndex)" />
                        </td>


                    </tr>
                </ng-template>
            </p-table>
        </div>
        <hr>

    </p-dialog>
</div>
<!-- DIALOGO PARA NUEVA ORDER -->
<div class="card flex justify-center">
    <p-dialog header="New order line" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '65rem' }">
        <div class="card">
            <p-table #dt2 [value]="allProducts()" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true" [globalFilterFields]="['name']" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #caption>
                    <div class="flex">
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search product by name" />
                        </p-iconfield>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width:22%">Image</th>
                        <th style="width:22%">Name</th>
                        <th style="width:22%">Description</th>
                        <th style="width:22%">Price</th>
                        <th style="width:22%"> </th>
                    </tr>
                </ng-template>
                <ng-template #body let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <img [src]="'http://localhost:3001/images/' + product.image" [alt]="product.name" width="40"
                                height="40" style="object-fit: cover; border-radius: 8px;" />
                        </td>
                        <td>
                            {{ product.name }}

                        </td>
                        <td>
                            {{ product.description }}

                        </td>
                        <td>
                            {{ product.sellPrice }} €

                        </td>
                        <td>
                            <p-button icon="pi pi-plus" severity="secondary" rounded
                                (click)="addProductToOrderLine(product, rowIndex)" />
                        </td>


                    </tr>
                </ng-template>
            </p-table>
        </div>
        <hr>

    </p-dialog>
</div>